textarea {
  height: 150px;
  width: 350px;
  position: relative;
  left: 30px;
}

input[type="text"]{
  width: 200px;
  height: 25px;
}

input[type="submit"] {
  background-color: #444;
  border: 0px;
  border-radius: 4px;
  color: #fff;
  padding: 10px 10px;
  font-size: 13px;
  letter-spacing: 1px;
  top: 35px;
  left: -180px;
}

input[type="submit"]:hover {
  cursor: pointer;
}

input {
  z-index: 1;
  position: relative;
}

section {
  width: 960px;
  margin: 0 auto;
  text-align: center;
  margin-top: 75px!important;
}

.contact {
  float: left;
  width: 50%;
}

.contact-form {
  float: left;
}

.contact-active {
  background-color: #b20000;
}

.home-active {
  background-color: rgba(25, 125, 32, 0.92);
}
