.contact-active {
  background-color: #b20000;
}

.home-active {
  background-color: rgba(25, 125, 32, 0.92);
}

textarea {
  height: 150px;
  width: 350px;
  position: relative;
  left: 30px;
}

input[type="text"]{
  width: 200px;
  height: 25px;
}

button {
  background-color: #444;
  border: 0px;
  border-radius: 4px;
  color: #fff;
  padding: 10px 10px;
  font-size: 13px;
  letter-spacing: 1px;
  top: 30px;
  left: -180px;
}

button:hover {
  cursor: pointer;
}

button {
  z-index: 1;
  position: relative;
}

section {
  width: 960px;
  margin: 0 auto;
  text-align: center;
  margin-top: 75px!important;
}

.contact {
  float: left;
  width: 50%;
  margin-top: 50px;
}

.contact h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.contact p {
  font-size: 18px;
  margin-bottom: 8px;
}

.fa-phone-square:before {
  margin-right: 5px;
}

.contact a {
  padding-left: 5px;
  text-decoration: none;
  color: #111;
}
.contact-form {
  float: left;
}

.feedback {
  font-size: 24px;
  margin-bottom: 5px;
  margin-top: 50px
}
