/* Global Styles */
h3 {
  margin: 0 auto;
  text-align: center;
  font-size: 20px;
}

.hidden {
  display: none;
}


label {
  display: block;
}

img.inactive {
  width: 200px;
  height: 200px;
  border: 5px solid black;
  margin: 5px;
}

img.inactive:hover {
  width: 200px;
  height: 200px;
  border: 5px solid orange;
  margin: 5px;
}

img.active {
  width: 200px;
  height: 200px;
  border: 5px solid green;
  margin: 5px;
}

img.active:hover {
  width: 200px;
  height: 200px;
  border: 5px solid green;
  margin: 5px;
}

#nacho-form {
  width: 250px;
  margin: 0 auto;
  margin-top: 75px;
}

#photos {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}

#photo_wrapper {
  max-width: 900px;
  width: 100%;
  margin: 30px auto;
  padding-top: 60px;
}

#photo_wrapper li {
  display: inline-block;
}

#ingredientListInBuilder {
    max-width: 320px;
    padding: 3px 0;
    margin: 0 auto;
}

#ingredientListInBuilder li {
  display: inline-block;
  border: 1px solid black;
  border-radius: 5px;
  padding: 3px;
  font-size: 20px;
  margin: 5px;
}

#selectedIngredients {
  max-width: 940px;
  width: 100%;
  margin: 0 auto;
  padding: 20px 10px;
  position: fixed;
  background-color: #ccc;
  opacity: .8;
  bottom: 0;
}

#submitButton {
  border-radius: 5%;
  background-color: #ffff4d;
  color: black;
  width: 150px;
  height: 50px;
  position: absolute;
  right: 10%;
  bottom: 37.5%;
  border: 1px solid black;
}
