.userImage {
  width: 200px;
  height: 200px;
}

.top3 div {
  float: left;
  margin: 20px;
}

.clearFix {
  clear: both;
}

.bottom3 div {
  float: left;
  margin: 20px;
}

.icons a img {
  height: 70px;
  width: 70px;
}

.matched {
  color: green;
}

.not-matched {
  color: red;
}
