.userImage {
  width: 200px;
  height: 200px;
}

.top3 {
  width: 80%;
  margin-left: 10%;
}

.top3 div {
  float: left;
  margin: 15px;
}

.BroName {
  text-align: center;
  font-size: 24px;
  margin-top: -5px;
  margin-left: -5px;
}

.size {
  width:195px;
  height: 160px;
  margin-left: -5px;
}

.clearFix {
  clear: both;
}

.bottom3 {
  width: 80%;
  margin-left: 10%;
}

.bottom3 div {
  float: left;
  margin: 15px;
}

h2 {
  margin-bottom: 10px;
  font-size: 16px;
  color: #efefef;
  margin-top: 15px;
}

.icons {
  width: 80%;
  margin-left: 38%;
  margin-top: 50px;
}


.icons div {
  float: left;
  margin: 20px;
}


.icons a img {
  display: inline-block;
  height: 70px;
  width: 70px;
  margin-left: 40px;
}

#detail-icon-img {
  margin-left: 24px;
  margin-top: 4px;
}

footer {
  height: 150px;
  background: #444;
}
