/* base styles */

body {
  font-family: 'Roboto Condensed', sans-serif;
}

/* site styles */

header {
  font-weight: bold;
  height: 150px;
  background-color: #333;
}

.home-active {
  margin-top: 50px;
  margin-left: 15px;
  background-color: #B20000;
}

.about-active {
  margin-top: 50px;
  background-color: rgba(25, 125, 32, 0.92);
}

.contact-active {
  margin-top: 50px;
  background-color: rgba(25, 125, 32, 0.92);
}

.nav a {
  font-size: 22px;
  color: #999;
  text-decoration: none;
}

div.primary-nav {
  background-color: #000;
}

.nav-active div {
  height: 10px;
  width: 90px;
  float: left;
  display: inline;
  margin-left: 5px;
}
.header-wrapper {
  width: 960px;
  margin: 0 auto;
}

.nav li {
  float: left;
  display: inline-block;
  margin: 0 20px;
  margin-top: 10px;
}

.social-icons li {
  float: right;
  display: inline-block;
  margin: 0 20px;
}

.social-icons li a img {
  margin-top: 10px;
  height: 35px;
  margin-top: 55px;
  margin-right: 15px;
}


.clearfix {
  clear: both;
}

main {
  width: 960px;
  margin: 0 auto;
}

.logo-container {
  margin:0 auto;
  position: relative;
  text-align:center;
}

.logo {
  height:120px;
  /*position: absolute;*/
  padding-top: 15px;
}


.left-header {
  float:left;
  width: 320px;
}

.center-header {
  float:left;
  width: 320px;
}

.right-header {
  float:right;
  width: 320px;
}
