/* base styles */
* {
  outline: 1px solid blue;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
}

/* site styles */

header {
  font-weight: bold;
  height: 130px;
  background-color: #2D2D2D;
}

.nav a {
  color: #878787;
  text-decoration: none;
}

div.primary-nav {
  background-color: #000;
}

.nav-active div {
  height: 10px;
  width: 90px;
  float: left;
  display: inline;

}

.inner-header {
  width: 960px;
  margin: 0 auto;
}

.nav li {
  float: left;
  display: inline-block;
  margin: 0 20px;
  margin-top: 20px;
}

.social-icons li {
  float: right;
  display: inline-block;
  margin: 0 20px;
}

.social-icons li a img {
    margin-top: 10px;
    height: 35px;
}


.clearfix {
  clear: both;
}

main {
  width: 960px;
  margin: 0 auto;
}

.logo-container {
  margin:0 auto;
  position: relative;
  text-align:center;
}

.logo {
  height:120px
  /*position: absolute;*/
}


.left-header {
  float:left;
  width: 320px;
}

.center-header {
  float:left;
  width: 320px;
}

.right-header {
  float:right;
  width: 320px;
}
